:host {
    display: block;

    .checkbox-group {
        padding: 1rem;

        .mat-checkbox {
            margin-right: 1rem;
        }
    }

    .table-container {
        overflow: auto;

        .mat-table {
            width: 100%;

            .mat-row {
                cursor: pointer;

                &:hover {
                    background: gainsboro;
                }

                &.selected {
                    background: #ffd740;
                }
            }

            .mat-header-cell {
                color: white;
            }

            .mat-header-cell,
            .mat-cell {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
}
