:host {
    display: block;

    .checkbox-group {
        padding: 1rem;

        .mat-checkbox {
            margin-right: 1rem;
        }
    }

    .table-container {
        overflow: auto;

        .mat-table {
            width: 100%;

            .mat-header-cell,
            .mat-cell {
                padding-left: 1rem;
                padding-right: 1rem;
            }
        }
    }
}
