:host {
    display: block;

    .account-icon {
        font-size: 4rem;
        width: 4rem;
        height: 4rem;
    }

    .title {
        font-size: 200%;
    }

    .gray-background {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .external-provider-button {
        background-size: contain;
        background-repeat: no-repeat;
        width: 50%;
        padding-top: 11.4%;
    }
}
